@import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');

table{
    width: 100%;
    border-collapse: collapse;
    font-size: 30px;
}
td,th{
    border: 2px solid white;
    padding: 5px;
}


tbody tr:nth-child(odd){
    background: red;
}
thead{
    background: black;
}
html{
    scroll-behavior: smooth;
}
@media screen and (max-width: 600px){
    thead{
        display: none;
    }

    td{
        display: block;
        text-align: right;
    }

    tr{
        display: block;
        margin-bottom: 5px;
    }
    td::before{
        content: attr(data);
        float: left;
    }
}
.griddy{
    display: grid;
    grid-template-columns: 1fr 1fr;
    line-height: 2em;
}

form{
    background: rgb(0, 0, 0);
}

.upp{
    position: fixed;
    bottom: 30px;
    right: 30px;

    width: 50px;
    height: 50px;
    background: rgb(63, 59, 59);
    border-radius: 50%;
    font-size: 3em;
}
body{
    max-width: 1280px;
    margin: 15px auto;

    background: linear-gradient(black, white);
    color:white;
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    }

    .white{
        background-color: white;
    }
    .black{
        background: linear-gradient(black,purple);
    }
    .lineargradient{
        background: linear-gradient(black, darkgray);
    }

    .Poem{
        margin-left: 37px;
    }

    div{
        padding: 15px;
    }

    h1{
        color:red;
        font-style: italic;
        font-size: 60px;
        background: white;
    }
    h2{
        border: 2px solid white;
    }
    .Border{
        border: 2.5px solid white;
        margin-left: 3px;
        margin-right: 3px;
    }
    
    .imgGrid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 0px;
    }
    .imgGrid2{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .Feitletrun{
        font-weight: 800;
        color: red;
    }

    .backgroundimg{
        background: red;
    }
    .Raudlitur{
        color: red;
        font-style: oblique;
        font-weight: 140;
    }
    .Litur{
        background: blue;
        color: white
    }

    .padding{
        padding-left: 2px;
        padding: 4px;
    }


    .paddingGrid{
        padding: 8px;
    }


    .Border3{
        border: 4px solid red;
    }
    .Border2{
        border: 4px dashed white;
    }
    .Border1{
        border: 4px solid;
    }
    .header{
        color: black;
        font-size: large;
    }


    .bordermargin{
        border: 2px solid white;
        margin: 10px;
        padding: 10px;
    }

    
      .wrapper {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr 1fr;
        color: #444;
        grid-template-areas: 
        "c"
        "a"
        "b";
        }

        @media screen and (min-width:37.5em){      
            .wrapper{
                display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 5px;
            grid-template-areas: 
            "a a"
            "b c";
        }
            }
        
        
        
        @media screen and (min-width:48em){
        
            .wrapper{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-areas: 
                "a a b"
                "a a b"
                "c c b";
        
            }
        }

      
        .box {
          background-color: #444;
          color: #fff;
          border-radius: 5px;
          padding: 15px;
          font-size: 120%;
      
        }
      
        .a {
            grid-area: a;
        }
        .b {
            grid-area: b;
        }
        .c {
            grid-area: c;
        }






.dalkar_2{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}




@media screen and (min-width:37.5em){

    .dalkar_2{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}


@media screen and (min-width:48em){

    .dalkar_2{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}





.dalkar_4{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}
@media screen and (min-width:37.5em){

    .dalkar_4{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width:40em){

    .dalkar_4{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (min-width:48em){

    .dalkar_4{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}



a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: red;
}
a:active{
    text-transform: uppercase;
}

Nav{
    padding: 8px;
}
footer{
    padding: 8px;
}


.valmynd{
    display: grid;
    grid-template-columns: 1fr;

    justify-items: center;
}

@media screen and (min-width:768px){
    .valmynd{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    
        justify-items: center;}
}



.valmynd1{
    display: grid;
    grid-template-columns: 1fr;

    justify-items: center;
}
@media screen and (min-width:480px){
    .valmynd1{
        display: grid;
        grid-template-columns: 1fr 1fr;
    
        justify-items: center;}
}
@media screen and (min-width:768px){
    .valmynd1{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    
        justify-items: center;}
}

.valmynd3{
    display: grid;
    grid-template-columns: 1fr;

    justify-items: center;
}
@media screen and (min-width:480px){
    .valmynd3{
        display: grid;
        grid-template-columns: 1fr 1fr;
    
        justify-items: center;}
    }

    .a1 {
        grid-area: a1;
    }
    .b1 {
        grid-area: b1;
    }
    .c1 {
        grid-area: c1;
    }
    .d1{
        grid-area:d1
    }


    .fourpice{
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr;
        color: #444;
        grid-template-areas: 
        "a1"
        "b1"
        "c1"
        "d1";
        }

        @media screen and (min-width:30.5em){      
            .fourpice{
                display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 5px;
            grid-template-areas: 
            "a1 b1"
            "a1 b1"
            "a1 b1"
            "c1 d1";
        }
            }
        
        
        
        @media screen and (min-width:37.5em){
        
            .fourpice{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-areas: 
                "a1 a1 b1"
                "a1 a1 b1"
                "a1 c1 d1"
                "a1 c1 d1";
        
            }
        }

        @media screen and (min-width:48em){
        
            .fourpice{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-template-areas: 
                "a1 a1 b1 d1"
                "a1 a1 b1 d1"
                "c1 c1 b1 d1"
                "c1 c1 b1 d1";
        
            }
        }

        .img{
            display: block;
            max-width: 100%;
            height: auto;

        }

        img{
            display: block;
            max-width: 100%;
            height: auto;

        }