body{
    max-width: 1280px;
    margin: 15px auto;

    border: 3px dotted white;


    background: black;
    color:white;
    font-family: cursive;
    }

    .Poem{
        margin-left: 37px;
    }

    div{
        padding: 15px;
    }

    h1{
        color:red;
        font-style: italic;
        font-size: 60px;
        background: white;
    }
    h2{
        border: 2px solid white;
    }
    .Border{
        border: 2.5px dashed white;
    }
    
    .BlárVTexti{
        color: blueviolet;
    }
    .Feitletrun{
        font-weight: 800;
        color: red;
    }

    .Skaletur{
        font-style: italic;
    }
    .Raudlitur{
        color: red;
        font-style: oblique;
        font-weight: 140;
    }
    .Litur{
        color: black;
    }